{% extends 'base.html.twig' %}

{% block body %}


<div class="navbar-menu">
    <img class="logo" src="{{ asset('images/EYES_CONTACT.jpg')}}" alt="logo_eyes_contact">

    <div class="dropdown">
        <span class="title-nav">Lunettes de vue</span>
        <div class="dropdown-content">
            <a class="link-content" href=""><p>Femmes</p></a>
            <a class="link-content" href=""><p>Hommes</p></a>
            <a class="link-content" href=""><p>Enfants</p></a>
        </div>
        <i class="fa fa-angle-down" aria-hidden="true"></i>{# icon flèche du bas  #}
    </div>
    <div class="dropdown">
        <span class="title-nav">Lunettes de soleil</span>
        <div class="dropdown-content">
            <a class="link-content" href=""><p>Femmes</p></a>
            <a class="link-content" href=""><p>Hommes</p></a>
            <a class="link-content" href=""><p>Enfants</p></a>
        </div>
        <i class="fa fa-angle-down" aria-hidden="true"></i>{# icon flèche du bas  #}
    </div>
    <div class="dropdown">
        <span class="title-nav">Lentille</span>
        <div class="dropdown-content">
            <a class="link-content" href=""><p>Femmes</p></a>
            <a class="link-content" href=""><p>Hommes</p></a>
            <a class="link-content" href=""><p>Enfants</p></a>
        </div>
        <i class="fa fa-angle-down" aria-hidden="true"></i>{# icon flèche du bas  #}
    </div>

    <div class="">
       <a class="link-content" href=""><span class="title-nav">Contact</span> </a>
    </div>

    <div class="link-log">
        <a class="link-register" href="../register">Inscription</a> /
        <a class="link-login" href="">Connexion</a>
    </div>

    <div class="img-basket">
        <a href=""><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>{# icon du panier  #}
    </div>


</div>
{% endblock %}

