<div id="backoffice_sidebar">
    <div id="backoffice_sidebar_logo">
        <img src="{{ asset('images/eyes-contact-logo.jpg') }}"/>
    </div>
    <nav id="backoffice_sidebar_mainMenu">
        <ul>
            <li class="active">
                <a href="#">
                    <div class="mainMenu_item">
                        <div class="mainMenu_svgIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" style="enable-background:new 0 0 512 512" xml:space="preserve" viewBox="0 0 512 512"><path xmlns="http://www.w3.org/2000/svg" d="m498.195 222.695-.035-.035L289.305 13.813C280.402 4.905 268.566 0 255.977 0c-12.59 0-24.426 4.902-33.332 13.809L13.898 222.55c-.07.07-.14.144-.21.215-18.282 18.386-18.25 48.218.09 66.558 8.378 8.383 19.445 13.238 31.277 13.746.48.047.965.07 1.453.07h8.324v153.7C54.832 487.254 79.578 512 110 512h81.71c8.282 0 15-6.715 15-15V376.5c0-13.879 11.29-25.168 25.169-25.168h48.195c13.88 0 25.168 11.29 25.168 25.168V497c0 8.285 6.715 15 15 15h81.711c30.422 0 55.168-24.746 55.168-55.16v-153.7h7.719c12.586 0 24.422-4.902 33.332-13.808 18.36-18.371 18.367-48.254.023-66.637zm0 0" fill="#fff" data-original="#000000"/></svg>
                        </div>
                        <p>Accueil</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="mainMenu_item">
                        <div class="mainMenu_svgIcon mainMenu_svgIcon_adjusted">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><path d="m21.75 7.441-4.5 2.5V12.5a.75.75 0 0 1-1.5 0v-1.725l-3 1.666v10l8.614-4.785A.752.752 0 0 0 21.75 17V7.441zm-19.5 0V17c0 .272.148.523.386.656l8.614 4.785v-10zm5.386 9.992 1.5.834a.75.75 0 0 0 .728-1.312l-1.5-.833a.75.75 0 0 0-.728 1.311zM3 6.142l3.006-1.67 9 5L12 11.142zm4.55-2.528 9 5L21 6.142l-8.636-4.798a.754.754 0 0 0-.728 0z" fill="#fff" data-original="#000000" xmlns="http://www.w3.org/2000/svg"/></svg>
                        </div>
                        <p>Produits</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="mainMenu_item">
                        <div class="mainMenu_svgIcon mainMenu_svgIcon_adjusted">
                            <svg xmlns="http://www.w3.org/2000/svg" style="enable-background:new 0 0 512 512" xml:space="preserve" viewBox="0 0 512 512"><path xmlns="http://www.w3.org/2000/svg" fill="#fff" data-original="#000000" d="m203.654 241.22 173.642-100.251-81.668-47.151-173.642 100.251 81.668 47.151zM197 253.344 23 153.085v200.534l174 100.259V253.344zM351 356h19v19h-19zM211 253.344v200.534l95-54.935V254.182A30.037 30.037 0 0 1 335.891 224H360.8a24.533 24.533 0 0 1 23.417-18H384v-52.915Z"/><rect xmlns="http://www.w3.org/2000/svg" x="374" y="220" width="61" height="21" rx="10.161" fill="#fff" data-original="#000000"/><path xmlns="http://www.w3.org/2000/svg" fill="#fff" data-original="#000000" d="m281.628 85.735-77.974-45.018L30.013 140.969l77.973 45.018L281.628 85.735zM472.916 238h-25.183a23.942 23.942 0 0 1-23.143 17h-40.373a23.944 23.944 0 0 1-23.144-17h-25.182A16.022 16.022 0 0 0 320 254.182v202.1A15.628 15.628 0 0 0 335.891 472h137.025A15.793 15.793 0 0 0 489 456.282v-202.1A16.186 16.186 0 0 0 472.916 238ZM337 285.033a6.985 6.985 0 0 1 6.949-7.033h32.975a7.093 7.093 0 0 1 7.076 7.033v4.71a7.019 7.019 0 0 1-7.038 6.984 6.739 6.739 0 0 1-6.655-4.727H351v19h.276a7 7 0 1 1 0 14h-7.327a6.95 6.95 0 0 1-6.949-6.992ZM337 349a7 7 0 0 1 7-7h33a7 7 0 0 1 7 7v33a7 7 0 0 1-7 7h-33a7 7 0 0 1-7-7Zm14.277 104h-7.328a6.752 6.752 0 0 1-6.949-6.756v-32.975a7.191 7.191 0 0 1 6.949-7.269h32.975a7.3 7.3 0 0 1 7.076 7.269v6.745a7.037 7.037 0 0 1-14.071-.014H351v19h.277a7 7 0 1 1 0 14Zm51.664-27.259-25.452 25.452a7 7 0 0 1-9.9 0L356.4 440.007a7 7 0 1 1 9.9-9.9l6.236 6.237 20.5-20.5a7 7 0 0 1 9.9 9.9Zm0-129.249-25.452 25.452a7 7 0 0 1-9.9 0L356.4 310.758a7 7 0 1 1 9.9-9.9l6.236 6.237 20.5-20.5a7 7 0 0 1 9.9 9.9ZM464.857 437h-43.966a7 7 0 0 1 0-14h43.966a7 7 0 0 1 0 14Zm0-64h-43.966a7 7 0 0 1 0-14h43.966a7 7 0 0 1 0 14Zm0-64h-43.966a7 7 0 0 1 0-14h43.966a7 7 0 0 1 0 14Z"/></svg>
                        </div>
                        <p>Variations</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="mainMenu_item">
                        <div class="mainMenu_svgIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" style="enable-background:new 0 0 512 512" xml:space="preserve" viewBox="0 0 512 512"><g xmlns="http://www.w3.org/2000/svg" fill="#fff"><path d="M93.4 27.4H12.2C6.6 27.4 2 31.9 2 37.6v81.3c0 5.6 4.6 10.2 10.2 10.2h81.3c5.6 0 10.2-4.5 10.2-10.2V37.6c-.1-5.7-4.6-10.2-10.3-10.2zM499.8 27.4H190c-5.6 0-10.2 4.5-10.2 10.2v81.3c0 5.6 4.6 10.2 10.2 10.2h309.9c5.6 0 10.2-4.5 10.2-10.2V37.6c-.1-5.7-4.6-10.2-10.3-10.2zM93.4 205.2H12.2c-5.6 0-10.2 4.5-10.2 10.2v81.3c0 5.6 4.6 10.2 10.2 10.2h81.3c5.6 0 10.2-4.5 10.2-10.2v-81.3c-.1-5.7-4.6-10.2-10.3-10.2zM499.8 205.2H190c-5.6 0-10.2 4.5-10.2 10.2v81.3c0 5.6 4.6 10.2 10.2 10.2h309.9c5.6 0 10.2-4.5 10.2-10.2v-81.3c-.1-5.7-4.6-10.2-10.3-10.2zM93.4 383H12.2C6.6 383 2 387.5 2 393.2v81.3c0 5.6 4.6 10.2 10.2 10.2h81.3c5.6 0 10.2-4.5 10.2-10.2v-81.3c-.1-5.7-4.6-10.2-10.3-10.2zM499.8 383H190c-5.6 0-10.2 4.5-10.2 10.2v81.3c0 5.6 4.6 10.2 10.2 10.2h309.9c5.6 0 10.2-4.5 10.2-10.2v-81.3c-.1-5.7-4.6-10.2-10.3-10.2z" data-original="#000000"/></g></svg>
                        </div>
                        <p>Catégories</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="mainMenu_item">
                        <div class="mainMenu_svgIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" style="enable-background:new 0 0 512 512" xml:space="preserve" viewBox="0 0 512 512"><g xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" fill="#fff"><path d="m267 235.395-43.418-10.872c-5.621-1.402-11.793.555-15.516 5.465l-32.89 43.344-32.953-43.422c-3.47-4.91-9.723-7.433-15.899-5.86l-51.867 13.294C30.157 248.699 0 287.524 0 333.188v46.734c0 8.285 6.715 15 15 15h254.535A44.926 44.926 0 0 1 267 380zM411.273 210.625l9.125 4.586V180h-31.605v35.21l9.035-4.538a14.907 14.907 0 0 1 13.445-.047zm0 0" data-original="#000000"/><path d="M497 180h-46.605v59.465c0 8.285-6.715 15-15 15-2.918 0-5.645-.836-7.95-2.281l-22.851-11.48-24.121 12.12c-10.043 5.035-21.63-2.492-21.621-13.36L358.789 180H312c-8.285 0-15 6.719-15 15v185c0 8.285 6.715 15 15 15h185c8.285 0 15-6.715 15-15V195c0-8.285-6.715-15-15-15zM276.172 101c0 55.781-45.219 101-101 101s-101-45.219-101-101 45.219-101 101-101 101 45.219 101 101zm0 0" data-original="#000000"/></g></svg>
                        </div>
                        <p>Fournisseurs</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="mainMenu_item">
                        <div class="mainMenu_svgIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80.13 80.13" style="enable-background:new 0 0 512 512" xml:space="preserve"><path d="M48.355 17.922c3.705 2.323 6.303 6.254 6.776 10.817a11.69 11.69 0 0 0 4.966 1.112c6.491 0 11.752-5.261 11.752-11.751 0-6.491-5.261-11.752-11.752-11.752-6.429.002-11.644 5.169-11.742 11.574zm-7.699 24.062c6.491 0 11.752-5.262 11.752-11.752s-5.262-11.751-11.752-11.751c-6.49 0-11.754 5.262-11.754 11.752s5.264 11.751 11.754 11.751zm4.985.801h-9.972c-8.297 0-15.047 6.751-15.047 15.048v12.195l.031.191.84.263c7.918 2.474 14.797 3.299 20.459 3.299 11.059 0 17.469-3.153 17.864-3.354l.785-.397h.084V57.833c.003-8.297-6.747-15.048-15.044-15.048zm19.443-12.132h-9.895a14.483 14.483 0 0 1-4.47 10.088c7.375 2.193 12.771 9.032 12.771 17.11v3.758c9.77-.358 15.4-3.127 15.771-3.313l.785-.398h.084V45.699c0-8.296-6.75-15.046-15.046-15.046zm-45.049-.8c2.299 0 4.438-.671 6.25-1.814a14.544 14.544 0 0 1 5.467-9.276c.012-.22.033-.438.033-.66 0-6.491-5.262-11.752-11.75-11.752-6.492 0-11.752 5.261-11.752 11.752 0 6.488 5.26 11.75 11.752 11.75zm10.554 10.888a14.492 14.492 0 0 1-4.467-10.032c-.367-.027-.73-.056-1.104-.056h-9.971C6.75 30.653 0 37.403 0 45.699v12.197l.031.188.84.265c6.352 1.983 12.021 2.897 16.945 3.185v-3.683c.002-8.078 5.396-14.915 12.773-17.11z" fill="#fff" data-original="#000000" xmlns="http://www.w3.org/2000/svg"/></svg>
                        </div>
                        <p>Utilisateurs</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="mainMenu_item">
                        <div class="mainMenu_svgIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" style="enable-background:new 0 0 512 512" xml:space="preserve" viewBox="0 0 512 512"><g fill="#fff"><path xmlns="http://www.w3.org/2000/svg" d="M437.852 43.198C429.36 34.688 418.066 30 406.05 30h-19.945v20c0 22.056-17.924 40-39.956 40h-179.8c-22.032 0-39.956-17.944-39.956-40V30h-20.011c-24.758 0-44.922 20.164-44.95 44.95l-.432 392c-.014 12.029 4.656 23.341 13.147 31.852C82.64 507.313 93.934 512 105.95 512h299.667c24.758 0 44.923-20.164 44.95-44.95l.433-392c.014-12.029-4.656-23.341-13.148-31.852zM261.094 180h106.453c8.275 0 14.983 6.716 14.983 15s-6.708 15-14.983 15H261.094c-8.275 0-14.983-6.716-14.983-15s6.708-15 14.983-15zm0 100h106.453c8.275 0 14.983 6.716 14.983 15s-6.708 15-14.983 15H261.094c-8.275 0-14.983-6.716-14.983-15s6.708-15 14.983-15zm0 100h106.881c8.275 0 14.983 6.716 14.983 15s-6.708 15-14.983 15H261.094c-8.275 0-14.983-6.716-14.983-15s6.708-15 14.983-15zM133.431 180.592c5.852-5.858 15.338-5.858 21.19 0l8.147 8.157 34.554-34.592c5.852-5.857 15.338-5.859 21.189 0 5.851 5.857 5.851 15.355 0 21.213l-45.149 45.198a14.972 14.972 0 0 1-21.19 0l-18.742-18.764c-5.851-5.857-5.851-15.355.001-21.212zm0 107.637c5.852-5.858 15.338-5.858 21.19 0l8.147 8.156 34.554-34.592c5.851-5.857 15.338-5.857 21.189 0s5.851 15.355 0 21.213l-45.149 45.199a14.974 14.974 0 0 1-21.19 0l-18.742-18.764c-5.851-5.857-5.851-15.354.001-21.212zm0 100c5.852-5.858 15.338-5.858 21.19 0l8.147 8.156 34.554-34.592c5.851-5.857 15.338-5.857 21.189 0s5.851 15.355 0 21.213l-45.149 45.199a14.974 14.974 0 0 1-21.19 0l-18.742-18.764c-5.851-5.857-5.851-15.354.001-21.212z" data-original="#000000"/><path xmlns="http://www.w3.org/2000/svg" d="M156.361 50c0 5.523 4.472 10 9.989 10h179.8c5.517 0 9.989-4.477 9.989-10V10c0-5.523-4.472-10-9.989-10h-179.8c-5.517 0-9.989 4.477-9.989 10z" data-original="#000000"/></g></svg>
                        </div>
                        <p>Commandes</p>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>