{% extends 'base.html.twig' %}

{% block title %}Eyes Contact - Backoffice{% endblock %}

{% block body %}
    {{include('backoffice/_topbar.html.twig')}}
    {{include('backoffice/_sidebar.html.twig')}}

    <main>
        <h1>Bonjour Jimmy !</h1>
        <h2>Bienvenue sur le tableau de bords Eyes Contact</h2>
        <div class="separator_xl"></div>
    </main>

{% endblock %}
