<div class="last_products_list_item">
    <div class="last_products_list_item_img">
        <img src="{{ asset('images/backoffice-productExemple.png') }}"/>
    </div>
    
    <div class="last_products_list_item_infos">
        <h4 class="last_products_list_item_infos_title">Lunettes de vue Enfant</h4>
        <p class="last_products_list_item_infos_category">Catégorie</p>
        <p class="last_products_list_item_infos_price">Prix</p>
        <p class="last_products_list_item_infos_supplier">Fournisseur</p>
    </div>

    <div class="last_products_list_item_actions">
        <a class="backoffice_button_fill" href="#">Afficher la page</a>
        <a class="backoffice_button_outline" href="#">Modifier</a>
    </div>
</div>