<div class="last_suppliers_list_item">
    <div class="last_suppliers_list_item_infos">
        <h4 class="last_suppliers_list_item_infos_name">Nom du fournisseur</h4>
        <div class="last_suppliers_list_item_detailsContainer">
            <div class="last_suppliers_list_item_details">
                <p class="last_suppliers_list_item_infos_phone">06XXXXXXXX</p>
                <p class="last_suppliers_list_item_infos_email">adresse@email.test</p>
            </div>

            <div class="last_suppliers_list_item_details">
                <p class="last_suppliers_list_item_infos_city">Ville</p>
                <p class="last_suppliers_list_item_infos_country">Pays</p>
            </div>
        </div>
    </div>

    <div class="last_suppliers_list_item_actions">
        <a class="backoffice_button_fill" href="#">Afficher la page</a>
        <a class="backoffice_button_outline" href="#">Modifier</a>
    </div>
</div>