<div id="backoffice_topbar">
    <div id="topbar_leftPart">
        <p>Connecté en tant que <span>Jimmy</span></p>
        <div id="topbar_leftPart_accountSettings">
            <img src="{{ asset('images/profilExemple.jpg') }}"/>
            <p><a href="{{ path('backoffice_account_settings') }}">Gérer mon compte</a></p>
        </div>
    </div>
    <div id="topbar_rightPart">
        <p><a href="#">Aller sur le <span>site</span></a></p>
        <p><a href="#">Déconnexion</a></p>
    </div>
</div>